<h2> register as a new user </h2>

<% if @errors %>
  <% @errors.each do |e| %>
   <p> <li id='errors'> <%= e %> </li> </p>
  <% end %>
<% end %>

<div id='form-signup'>

  <h3> sign up </h3>
  <%= form_for @user do |f| %>
  <p>
  <%= f.label 'username :' %>
  <%= f.text_field :username %>
  </p>

  <p>
  <%= f.label 'e-mail :' %>    
  <%= f.text_field :email %>
  </p>

  <p>
  <%= f.label 'password :' %>
  <%= f.password_field :password %>
  </p>

  <p>
  <%= f.label 'password confirmation :' %>
  <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit 'sign me up' %>
  <% end %>

</div>