<h1> mainpage </h1>


<a href="/login"> login </a>

<table>
  <tr>
    <th> <h2> name </h2> </th>
    <th> <h2> settler(s) </h2> </th>
    <th> <h2> food </h2> </th>
    <th> <h2> water </h2> </th>
    <th> <h2> power </h2> </th>
    <th> <h2> defense </h2> </th>
  </tr>
  <tr>
    <% @settlements.each do |s| %>
      <td> <%= s.name %> </td>
      <td> <%= s.settler %> </td>
      <td> <%= s.food %> </td>
      <td> <%= s.water %> </td>
      <td> <%= s.power %> </td>
      <td> <%= s.defense %> </td>
  </tr>
  <% end %>

</table>
