<h3> login page </h3>

<% if @error %>
	<%= @error %>
<% end %>

<%= form_tag sessions_path do %>
	<%= label_tag :email %>
	<%= text_field_tag :email %>
	
	<%= label_tag :password %>
	<%= password_field_tag :password %>

	<%= submit_tag 'log me in' %>
<% end %>
