<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user  %>
  	<div id="user-info">
  		<%= link_to "welcome #{current_user.username} , profile", user_path(current_user.id) %>
  		<br>
			<%= link_to 'logout', session_path(current_user), method: :delete, data: { confirm: 'sure ? '} %>
  	</div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
