<h3> user profile </h3>

<% if current_user %>
	<%= link_to 'logout', session_path(@user), method: :delete, data: { confirm: 'sure ? '} %>
<% end %>

<%= link_to 'edit user', edit_user_path(@user) %>
<%= link_to 'delete me', user_path(@user), method: :delete, data: { confirm: ' do you want to delete this user ?' } %>

<h4> <%= @user.username %> </h4>

<%= link_to 'posts', '/'%>







<div class="posts">
	<h3> all posts </h3>
	<% @posts.each do |p| %>
		<p>
			<span> <%= p.title %> </span>
			<span> <%= p.body %></span>
		</p>
	<% end %>
</div>


