	<h3> all posts </h3>

<div class="posts">
	<% @posts.each do |p| %>
		<ul>
			<li>
			<span> Title : <%= link_to "#{p.title}", post_path(p) %> </span>
			<span> Body: <%= p.body %></span>
			<% if current_user && p.user_id == current_user.id %>
				<span> <%= link_to 'edit this post', edit_post_path(p) %> </span>
				<span> <%= link_to 'delete', post_path(p), method: :delete, data: {confirm:'sure ?'} %> </span>
			<% end %>
			</li>
		</ul>
		</p>
	<% end %>
</div>


<% if current_user  %>
	<%= link_to 'new post ?', new_user_post_path(current_user) %>
	<% else %>
	<h3> you need to sign up or log in to create posts </h3>
	<%= link_to 'new user', new_user_path %>
	<br>
	<%= link_to 'login', new_session_path %>
<% end %>
