<h2> settlements </h2>

<table>
	<tr>
		<% a = %w( name settlers water food power defense found? secure? ) %>
			<% a.each do |h| %>
				<th><h3> <%= h %> </h3></th>
			<% end %>
	</tr>
	<tr> <% @settlements.each do |s| %>
				<td> <%= s.name %> </td>
				<td> <%= s.settler %> </td>
				<td> <%= s.water %> </td>
				<td> <%= s.food %> </td>
				<td> <%= s.power %> </td>
				<td> <%= s.defense %> </td>
				<td id="founded" > <% if s.found? then %> <img src="f-up2.jpg" width="75" height="50" name="yes"> <% else %> <img src="thumbs-down.png" width="60" height="50" > <% end %> </td>
				<td id="secured" > <% if secure?(s) then %> <img src="f-up2.jpg" width="75" height="50" name="yes"> <% else %> <img src="thumbs-down.png" width="70" height="50" > <% end %> </td>
	</tr>
			<% end %>
</table>
