<h1> WEAPONS </h1>


<table>
	<tr>
		<% a=['name', 'ammo type', 'id #', 'can be modified ?'] %>
			<% a.each do |h| %>
				<th> <h2> <%= h %> </h2> </th>
			<% end %>
	</tr>
		<tr>
			<% @weapons.each do |w| %>
			<td> <%= w.name %> </td>
			<td> <%= link_to @ammos.find(w.ammo_id).name, ammos_path %> </td>
			<!-- or   
			<td> <%= button_to @ammos.find(w.ammo_id).name, ammos_path, method: :get %> </td>
			 -->

			<td> # <%= w.game_id %> </td>
			<td> <% if w.modified? %>
						<img src="f-up2.jpg" width="75" height="50" name="yes" >
						<% else %>
						<img src="f-down.jpg" width="70" height="50" >
						<% end %>
		</tr>
	<% end %>

</table>
			

