<!DOCTYPE html>
<html>
  <head>
    <title>Fallout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body id='main-body'>

  <div id='menubar'>
  	<ul>
      <li> <%= link_to 'home', '/', { :class => 'links' } %> </li>

  		<li class="dropmenu">
        <%= link_to 'items', '#', { :class => 'links', :class => 'dropbutton'} %>
  			<div class="dropmenu-content">
        <% a=['weapons', 'armors', 'ammos', 'perks', 'craftables', 'foods', 'junks', 'magazines', 'settlements'] %>
        <% a.each do |a| %>
        <%= link_to a, "/#{a}", { :class => 'links' } %>
        <% end %>
  			</div>
  		</li>
      <li> <%= link_to 'weather changes', '/weathers', { :class => 'links' } %> </li>
      <!-- <p> <%= link_to 'aaaaaaa', '/' %> </p> -->
      <li id="image"> <%= image_tag('f-4.jpg', width:'100', height:'42') %> </li>
      <li id="image" > <%= link_to 'interactive map', 'http://www.fallout4map.com', { :class => 'links', :target => '_blank' } %> </li>

		  <li id='trailers'	class="t-menu">
        <%= link_to 'trailers', '#', { :class => 'links', :class => 't-button' } %>
		  	<div class="t-menu-content">
          <%= link_to 'war never changes', 'https://www.youtube.com/watch?v=P8kcjyW0scI', { :class => 'links', :target => '_blank'} %>
          <%= link_to 'launch trailer', 'https://www.youtube.com/watch?v=X5aJfebzkrM', { :class => 'links', :target => '_blank'} %>
          <%= link_to 'official trailer', 'https://www.youtube.com/watch?v=GE2BkLqMef4', { :class => 'links', :target => '_blank'} %>
          <%= link_to 'wanderer trailer', 'https://www.youtube.com/watch?v=k3IlHBBGCIw', { :class => 'links', :target => '_blank'} %>
		  	</div>
  		</li>

    </ul>
  <div id='header'> tap here to <b> sign up </b> or <b> sign in </b> </div>

  <div id='slide'>
  <div id='form-signup'>
  <h3> sign up </h3>
  <%= form_tag do %>
  <p>
  <%= label_tag 'username   ' %>
  <%= text_field_tag :username %>
  </p>

  <p>
  <%= label_tag 'e-mail   ' %>    
  <%= text_field_tag :email %>
  </p>

  <p>
  <%= label_tag 'password   ' %>
  <%= password_field_tag :password %>    
  </p>
  <%= submit_tag 'sign me up' %>
  <% end %>
  </div>

  <div id="form-login">
  <h3>login</h3>
  <%= form_tag do %>
  <p>
  <%= label_tag 'username   ' %>
  <%= text_field_tag :username %>
  </p>

  <p>
  <%= label_tag 'password   ' %>
  <%= password_field_tag :password %>    
  </p>
  <%= submit_tag 'log me in' %>
  <% end %>
  </div> <!-- form login -->
    
  </div>
  
</div>





</body> <!-- main body close -->

  <body id='yield'>
    <%= yield %>
  </body>


</html>
